@font-face {
    font-family: 'inter-variable';
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/static/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/static/Inter-SemiBold.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    background-color: #141414;
    color: white;
}

.main-box {
    background-color: #1F1F1F;
    width: 370px;
    height: 580px;
    border-radius: 10px;
    padding: 30px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pic img {
    border-radius: 100px;
    width: 110px;
    height: auto;
}

.name p {
    font-family: 'Inter-variable';
    font-size: 30px;
    margin-bottom: 3px;
    margin-top: 15px;
}

.legend p {
    font-family: 'Inter-Bold';
    font-size: 16px;
    margin: 0;
    color: greenyellow;
}

.description p {
    font-family: 'Inter-Regular';
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 18px;
}

.link-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-link {
    width: 340px;
    height: 46px;
    background-color: #333333;
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 15px;
    font-family: 'Inter-SemiBold';
}